html,body, .container{
 height: 100%;
 width: 100%;
}

#logo {

}

body{
	background: url(../img/fondo.jpg) #f4f4f4;
}

#logo a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 106px;
	letter-spacing: 2px;
	color: #2979CD;
	text-shadow: 0px 0px 0px black, 1px 1px 1px, 2px 2px 0px black;
	transition: all 500ms;
	text-decoration: none;
}

#logo a:hover{
	cursor: pointer;
	text-shadow: 0px 0px 0px black, -1px -1px -1px, -2px -2px 0px black;
}


@media (min-width: 600) { 
	.vh-custom{
		height: 50vh; 
	}
 }
@media (min-width: 720px) { 
	.vh-custom{
		height: 75vh; 
	}
}
@media (min-width: 1080px) { 
	.vh-custom{
		height: 50vh; 
	}
 }
